body {

	display: flex;
	flex-wrap: wrap;
	margin: 0px;
	color: purple;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	background-image: url("bg.jpg");

	
}

#heading{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	min-width: 740px;
	max-width: 1000px;
	margin-left: 0px;
	margin-right: 0px;
	
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;	
}

#top{ 
	
	overflow: hidden;
	
	 }

h1{
	font-size: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 100px;
	
}

h2{
	display: flex;
	flex-wrap: wrap;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
	color: purple;
}

#navi ul {
	list-style-type: none;
	margin-top: -1px;
	margin-right: -1px;
	margin-bottom: -1px;
	margin-left: 0px;
	color: #345A86;
	font-weight: 600;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}

#navi a {
	

	width: 20%;
	display: block;
	float: left;
	text-align: center;
		
}
#image img{ 
	display: flex;
	flex-wrap: wrap;
	padding: 40px;
	}




